# encoding: utf-8
# Copyright 2011–2013 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extends = http://dist.plone.org/release/4-latest/versions.cfg
versions = versions
parts = test mkrelease omelette plone
develop = .

[test]
recipe = collective.xmltestreport
defaults = ['--auto-color', '--auto-progress', '--verbose']
eggs = eke.knowledge[test]

[mkrelease]
recipe = zc.recipe.egg:scripts
eggs = jarn.mkrelease

[omelette]
recipe = collective.recipe.omelette
eggs =
    Plone
    eke.knowledge

[plone]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs =
    Plone
    Pillow
    eke.knowledge
